.container
  %section.playground
    .row
      %br
      %br
      .panel#flipbox
        %h5 This is a regular panel.
        %p It has an easy to override visual style, and is appropriately subdued.
      %a.button.left-flip{href: "#"} Default Button
      .panel
        %h5 This is a regular panel.
        %p It has an easy to override visual style, and is appropriately subdued.
      .panel
        %h5 This is a regular panel.
        %p It has an easy to override visual style, and is appropriately subdued.
      .panel
        %h5 This is a regular panel.
        %p It has an easy to override visual style, and is appropriately subdued.
      .panel
        %h5 This is a regular panel.
        %p It has an easy to override visual style, and is appropriately subdued.
