%footer
  .row
    .large-4.columns
      %h3 Provably Fair Gaming
      %p
        Lucky Fun Colors offer Provably Fair Gaming. This means anyone can immediately and independently verify we have no control over the ordering of the cards and the game cannot be tampered with.
    .large-4.columns
      %h3 Header
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a felis mollis, elementum augue sed, euismod tortor. Quisque dapibus tortor in nisi hendrerit lobortis. Sed non nisl quis nunc dictum posuere vitae at nulla. Etiam tristique molestie tempor. Vivamus convallis ornare.
    .large-4.columns
      %h3 Header
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a felis mollis, elementum augue sed, euismod tortor. Quisque dapibus tortor in nisi hendrerit lobortis. Sed non nisl quis nunc dictum posuere vitae at nulla. Etiam tristique molestie tempor. Vivamus convallis ornare.
.copyright
  .row
    .large-12.columns
      %h5 © 2014 <span class="footer-company">Lucky Fun Colors</span>

/ %footer
/   .row
/     &nbsp;&nbsp;&nbsp;&nbsp;
/     = link_to 'Admin login', login_path
