#qr.reveal-modal{"data-reveal" => ""}
  .modal-header
    %h3#myModalLabel Inbound Address
  .modal-body
    = image_tag "#{qrcode_user_path(current_user)}.svg"
  .modal-footer
    %a.close-reveal-modal × 