= form_tag withdrawal_user_path(current_user) do |f|
  = text_field_tag :extract_addy, current_user.outbound_bitcoin_address, :placeholder => "Your BTC address"
  = submit_tag "Cash Out", :class => 'button'
  %i (transaction includes a 0.0001 BTC miners fee.)
