.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"} Lucky Fun Colors - still legal in 9 states!
      -# http://www.youtube.com/watch?v=7gzDC-2ZO8I
      .nav-collapse.collapse
        %ul.nav
          %li.active= link_to 'Play Now!', root_path
          %li= link_to 'Contact', contact_path
          - if !current_user.nil?
            %li= link_to 'Account', account_user_path(current_user)
          %li= link_to 'Fair Play (About)', about_path
