.payout-announcer {
  text-align: right;
}

.neutral-color {
  background-color: lighten($primary-color, 45%);
}

.winning-color {
  background-color: lighten($secondary-color, 15%);;
}

.jackpot-color {
  background-color: darken($secondary-color, 15%);;
}

.small-loss-color {
  background-color: lighten($orange, 10%);
}

.big-loss-color {
  background-color: $tertiary-color;
}

h1, #satoshibalance {
  display: inline-block;
}

#satoshibalance {
  color: $secondary-color;
  font-weight: bold;
  font-size: 2.2rem;
}

.bet-box {
  margin: 0.75rem;
  div {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.4rem;;
    margin-bottom: 0;
  }
}

.games-hero {
  padding: 5.5rem 0;
  .game-container {
    background: white;
    padding: 2rem 0.5rem 0.75rem;
    .large-2 {
      margin-right: 0.5rem;
      &:last-child {
        float: left;
      }
    }
    .hash-panel {
      padding: 1rem 2rem;
      h4 {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      p {
        color: $secondary-color;
        font-size: 1.2rem;
        margin: 0;
        word-wrap: break-word;
      }
    }
  }
  .game-controls {
    background: $primary-color;
    color: white;
    .bet-choice {
      float: left;
      width: 45%;
      background: darken($primary-color, 25%);
      input {
        margin-bottom: 0;
      }
      .red-bet-btn {
        @include button(false, $tertiary-color, false, false, false, true);
        float: left;
        font-size: 1.6rem;
        margin: 0;
        padding: 2.5rem 0;
        width: 50%;
      }
      .black-bet-btn {
        @include button(false, darken($primary-color, 25%), false, false, false, true);
        float: left;
        font-size: 1.6rem;
        margin: 0;
        padding: 2.5rem 0;
        width: 50%;
      }
    }
    .increments {
      float: left;
      width: 55%;
      background: darken($secondary-color, 15%);
      .minus {
        @include button(false, lighten($secondary-color, 15%), false, false, false, true);
        color: darken($secondary-color, 15%);
        float: left;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        padding: 2.5rem 0;
        width: 25%;
      }
      .plus {
        @include button(false, $secondary-color, false, false, false, true);
        color: darken($secondary-color, 15%);
        float: left;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        padding: 2.5rem 0;
        width: 25%;
      }
    }
    .game_bet {
      background: none;
      border: none;
      color: white;
      font-weight: bold;
      font-size: 2rem;
      height: auto;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .title {
      padding: 1rem 0 0.5rem 1.5rem;
      .bet_text {
        color: lighten($primary-color, 25%);
        display: inline-block;
        float: left;
        margin: 0;
        padding-top: 0.75rem;
        //width: 90%;
      }
      .make_bet {
        background: lighten($primary-color, 15%);
        float: right;
        font-size: 1.2rem;
        width: 10%;
        margin: -1rem 0 -1rem 0;
        padding: 2rem;
      }
    }
  }
  .tabs-content {
    background: white;
    padding: 1rem 2rem;
    .content {
      padding: 0;
      width: 100%;
    }
    .tabs-section {
      border-bottom: 1px solid lightgray;
      margin: 0 -2rem;
      padding: 2rem 2.4rem;
      a {
        width: 100%;
        word-wrap: break-word;
      }
      &:last-of-type {
        border-bottom: none;
      }
      h3 {
        font-weight: bold;
        margin: 0;
      }
      .card {
        display: inline-block;
        margin: 1rem 1rem 0 0;
      }
      .disclaimer {
        display: block;
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }
    }
  }
}
